/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Handjet&family=Oswald&display=swap');

/* Asterisk wildcard selector to override default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Handjet', cursive;
}

/* Header */
header {
    background-color: rgb(117, 6, 139);
    text-align: center;
}

h1 {
    font-family: 'Handjet', cursive;
    color: azure;
   text-align: center;
   font-size: xx-large;
   width: 100%;
   margin: 10px;
}
/* Main body */
main {
    background-color: rgb(170, 104, 240);

    .game-area {
        background-color: azure;
        box-sizing: border-box;
        width: 85%;
        height: 75vh;
        max-height: 450px;
        max-width: 830px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
        margin-bottom: 20%;
        padding: 1%;
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 25%;
      }
      
      .rules-and-share {
        text-align: center;
        margin-top: 10%;
      }

      .button {
        font-size: 18px;
        padding: 10px 20px;
        margin: 10px;
        border: 2px solid #333;
        border-radius: 5px;
        cursor: pointer;
        background-color: #f2f2f2;
        color: #333;
        transition: background-color 0.3s ease, color 0.3s ease;
      }
      
      .button:hover {
        background-color: #333;
        color: #f2f2f2;
      }
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer Styling */

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: rgb(117, 6, 139);
    color: azure;
    text-align: center;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline-block;
    margin: 25px 25px;
}

.social-networks i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: azure;
}

.social-networks i:hover {
    font-size: 200%;
}